*.o
*.so
*.a
*.dSYM
*.test
*.swp
*.log
*.trs
.deps
.DS_Store
autom4te.cache
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
autoscan.log
build-aux/ar-lib
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
src/Makefile
src/Makefile.in
test/Makefile
test/Makefile.in
test/*.test.c
test/*.test.cpp
tags
*~